<div class="row">
	<div class="form-group col-xs-4">
		<select class="form-control" name="day" id="startDay">
			{% for day in 1 .. days %}
				<option value="{{ day }}" {% if day == today %} selected {% endif %}>{{ day }}</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="form-group col-xs-5">
		<select class="form-control" name="month" id="startMonth">
			{% for month, name in months %}
				<option value="{{ month }}" 
				{% if month == thisMonth %} selected {% endif %}>
					{{ name }}
				</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group col-xs-3">
		<select class="form-control" name="year" id="startYear">
			{% for year in years %}
				<option value="{{ year }}"
				{% if year == thisYear %} selected {% endif %}>
					{{ year }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-6">
		<select class="form-control form-control-lg" name="hour" id="startHour">
			{% for hour in 0..23 %}
				<option value="{{ hour }}" 
				{{ hour == thisHour ? 'selected' }}>
					{{ hour }}
				</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="form-group col-xs-6">
		<select class="form-control form-control-lg" name="minute" id="startMin">
			{# {% for minute in 0 .. 59 if (minute is divisible by(5) ) %} #}
			{% for minute in 0 .. 59 %}
				<option value="{{ minute }}"{% if minute == thisMinute %} selected {% endif %}>{{ minute }}</option>
			{% endfor %}
		</select>
	</div>

</div>